<h1 align="center">Listing all posts</h1>
<% @posts.each do |post| %>
 <div class="row">
  <div class="col-xs-8 col-xs-offset-2">
   <div class="well well-lg">
    <div class="post-title">
     <%= link_to post.title, post_path(post) %>
    </div>
    <div class="post-body">
     <%= truncate(post.description, length: 100) %>
    </div>
    <div class="post-actions">
        <div class="button-group">
     <%= link_to "Edit", edit_post_path(post), class: "btn btn-xs btn-primary" %>
     <%= button_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this post?"}, class: "btn btn-xs btn-danger" %>
     </div>

     </div>
   </div>
  </div>
 </div>
<% end %>