<h1>Showing selected post</h1>
<p>
 Title: <%= @post.title %>
</p>
<p>
 Description: <%= @post.description %>
</p>

<%= link_to 'Back', posts_path %>
<%= link_to 'Delete', post_path(@post), data: { method: :delete, confirm: "Are you sure?" } %>
